<!DOCTYPE html>
<html>
<head>
  <title>글 수정 중</title>
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
  body {
      font-family:'Nanum Barun Gothic';
  }

  table {
      font-family:'Nanum Barun Gothic';
      border-collapse: collapse;
      text-align: center;
      font-size: 15px;
      width: 450px;
  }

  table td, th {
      padding: 15px;
  }

  table td {
      background-color: #f3f3f3;
      border-bottom: 1px solid #cecece;
  }

  table th {
      background-color: #dce3ee;
      border-bottom: 1px solid #cecece;
      height: 5px;
  }
</style>
<body>
<center>
  <form action="/board/post?NUM=<%= results.NUM %>" method="POST" style="margin-top: 80px;">

  <a href="/board/update"><input type="button" value="수정" style="margin-bottom: 10px;"></a>
  
    <table>
    <th><%= result.TITLE %></th>
    <tr>
        <td><%= result.CONTENT %></td>
    </tr>
  </table>
  <br>
  </form>


</td>
<% for (const result of results) { %>
  <td>
      <tr>
          <%= result.email %><br>
          <%= result.description %><br> 
      </tr>
  </td>
<% } %>
<td>
  <form action="/board/comment" method="POST">
      <input type="hidden" name="author" value="<%= author %>">
      <input type="hidden" name="description" value="<%= description %>">
      <input type="hidden" name="title" value="<%= title %>">
      <input type="hidden" name="n_id" value="<%= id %>">
      <textarea name="comment" cols="40" rows="5"></textarea>
      <input type="submit">
  </form>
</td>
</center>
</body>
</html>